.header {
  display: flex;
  justify-content: space-around;
  height: 16vh;
  align-items: center;
  animation: fadeInLight 1s;

  &--work {
    background-color: $color-dark-orange;
  }
  &--break {
    background-color: $color-dark-turqoise;
  }
  &--longbreak {
    background-color: $color-dark-purple;
  }
  &--customize {
    background-color: $color-green;
  }
  &--login {
    background-color: $color-blue;
  }
  &--signup {
    background-color: $color-tan;
  }
  &--error {
    background-color: $color-grey-dark;
  }

  &__title {
    font-family: "Notable", sans-serif;
    letter-spacing: 0.6rem;
    position: relative;
    align-items: center;
    font-weight: 900;
    color: white;
    font-size: 3.3rem;
  }
  &__logo {
    position: absolute;
    top: 33%;
    right: 13.5%;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
  }
  &__toggle {
    display: none;
  }
  &__navlinks {
    top: 16vh;
    color: white;
    font-size: 2.5rem;
    list-style: none;

    &--active {
      color: white;
      font-size: 2.5rem;
      list-style: none;
    }

    &--link {
      font-family: "Notable", sans-serif;
      letter-spacing: 0.5rem;
      padding: 1rem;
      margin: 1rem;
      display: inline-block;
      color: white;
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: 700;
      border-radius: 10px;
      &--chosen {
        background-color: $color-light-grey;
      }
      &--signup {
        font-family: "Notable", sans-serif;
        letter-spacing: 0.5rem;
        margin: 1rem;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
        &:hover {
          transition: all 0.3s ease-out;
        }
      }
      &:hover {
        background-color: $color-dark-purple;
        transition: all 0.3s ease-out;
      }

      &--signup {
        display: inline-block;
        background-color: $color-dark-purple;
        padding: 1rem;
        font-weight: 900;
        font-size: 2.5rem;
        border-radius: 10px;
        &:hover {
          background-color: $color-light-black;
          transition: all 0.2s;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header__title {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    position: relative;
  }
  .header__navlinks--link {
    padding: 3vh;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  .header__navlinks--link--signup {
    padding: 3vh;
    margin: 0px;
    text-align: center;
  }
  .header__toggle {
    display: inline-block;
    color: white;
    cursor: pointer;
  }
  .header__navlinks {
    display: flex;
    flex-direction: column;
    background-color: $color-light-pink;
    width: 100%;
    position: absolute;
    top: 16vh;
    left: 0;
    opacity: 1;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .header__navlinks--hidden {
    display: flex;
    flex-direction: column;
    background-color: $color-light-pink;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 5.1rem;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
}