.error {
  height: 100vh;
  background-color: $color-light-grey;
  font-family: "Notable", sans-serif;
  animation: fadeInLight 1s;
  h1 {
    font-size: 9rem; 
    text-align: center;
    color: $color-grey-dark;
  }
  p{
    text-align: center;
    font-size: 3rem;
  }
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-grey-dark;
  height: 84vh;

  &--work {
    background-image: linear-gradient($color-orange, $color-dark-orange);
  }
  &--break {
    background-image: linear-gradient($color-light-blue, $color-dark-turqoise);
  }
  &--longbreak {
    background-image: linear-gradient($color-light-blue, $color-purple);
  }
}

.statcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 3rem;
  font-family: "Notable", sans-serif;
  &__text {
    color: "#f8f8ff";
  }
}
.boxcontainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeate(8, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  border: 3px solid black;
  color: white;
  font-size: 5vh;
  animation: fadeIn 1s;
}
.box {
  height: 7.5vh;
  width: 7.5vw;
  border: 1px solid black;
  color: black;
  background-color: $color-dark-purple;
}
.box--default {
  transition: opacity 0.5s;
  &:hover {
    opacity: 0;
  }
}
.box--spin {
  transition: transform 0.5s;
  &:hover {
    transform: rotate(360deg);
  }
}
.box--circle {
  &:hover {
    animation: circle 1s;
  }
}

.tooltip {
  color: $color-white;
  position: relative;
  &::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: $color-light-pink;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 0.75em;
    left: 0;
    transform: scale(0);
    transition: transform ease-out 150ms;
  }
  &:hover::after {
    transform: scale(1);
  }
}

.loginmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Notable", sans-serif;
  height: 84vh;

  background-image: linear-gradient($color-light-blue, $color-blue);
  &--signup {
    background-image: linear-gradient($color-light-tan, $color-tan);
  }
  height: 84vh;
}

// @media screen and (max-width: 695px) {
//   .statcontainer {
//     font-size: 3.3vw;
//   }
// }
// @media screen and (max-height: 650px) {
//   .statcontainer {
//     font-size: 4.5vh;
//   }
// }
// @media screen and (max-height: 280px) {
//   .statcontainer {
//     font-size: 3.3vw;
//   }
// }
@media screen and (max-height: 600px) {
  .statcontainer {
    &__text {
      font-size: 5vh;
    }
  }
}
@media screen and (max-height: 270px) {
  .statcontainer {
    &__text {
      font-size: 7vh;
    }
  }
}
@media screen and (max-width: 320px) {
  .statcontainer {
    &__text {
      font-size: 6vw;
    }
  }
}
