.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-grey-dark;
  height: 87vh;

  &--work {
    background-image: linear-gradient($color-orange, $color-dark-orange);
  }
  &--break {
    background-image: linear-gradient($color-light-blue, $color-dark-turqoise);
  }
  &--longbreak {
    background-image: linear-gradient($color-light-blue, $color-purple);
  }
}

.statcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeate(8, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  border: 3px solid black;
  color: white;
  font-size: 5vh;
  animation: fadeIn 1s;
}
.box {
  height: 7.5vh;
  width: 7.5vw;
  border: 1px solid black;
  color: black;
  background-color: $color-dark-purple;
}
.box--default {
  transition: opacity 0.5s;
  &:hover {
    opacity: 0;
  }
}
.box--spin {
  transition: transform 0.5s;
  &:hover {
    transform: rotate(360deg);
  }
}
.box--circle {
  &:hover {
    animation: circle 1s;
  }
}


.tooltip {
  color: $color-white;
  position: relative;
  &::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: $color-light-pink;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 0.75em;
    left: 0;
    transform: scale(0);
    transition: transform ease-out 150ms;
  }
  &:hover::after {
    transform: scale(1);
  }
}

@media screen and (max-height: 400px) {
  .main {
    height: 77.63vh;
  }
  .statcontainer {
    font-size: 9vh;
  }
}
@media screen and (max-width: 695px) {
  .statcontainer {
    font-size: 6vh;
  }
}
