@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInLight {
  0% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@keyframes spinRight {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes jumping {
  0% {
    transform: scaleX(1); }
  50% {
    transform: translate(0, -150%); }
  100% {
    transform: scaleX(1); } }

@keyframes moveRight {
  0% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(0%); } }

@keyframes moveLeft {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(-100%); } }

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1; }
  50%, 100% {
    opacity: 1;
    z-index: 5; } }

.startbtn {
  background-color: #fff;
  font-family: "Notable", sans-serif;
  display: inline-block;
  padding: 3rem 6rem;
  text-transform: capitalize;
  border: 4px solid #777;
  transition: all 0.2s;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #c38d9e; }
  .startbtn:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0rem 1.5rem 2rem rgba(119, 119, 119, 0.377); }
    .startbtn:hover:active {
      transform: translateY(-0.1rem);
      box-shadow: 0rem 0.5rem 2rem rgba(119, 119, 119, 0.377); }
    .startbtn:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      border-radius: 10rem;
      z-index: -1;
      transition: 0.4s; }

.arrowbutton {
  color: #fff;
  transition: all .2s;
  flex-grow: 1.5; }
  .arrowbutton:hover {
    transform: translateY(-0.4rem); }
  .arrowbutton:active {
    transform: translateY(-0.1rem); }

@media screen and (max-height: 690px) {
  .startbtn {
    font-size: 7vh;
    padding: 4vh 6vh; } }

@media screen and (max-height: 300px) {
  .startbtn {
    font-size: 7vh;
    padding: 4vh 13vh; } }

@media screen and (max-width: 320px) {
  .startbtn {
    margin: 2rem 2rem;
    font-size: 7vw;
    padding: 10vw 10vw; } }

.error {
  height: 100vh;
  background-color: #c09ba3;
  font-family: "Notable", sans-serif;
  animation: fadeInLight 1s; }
  .error h1 {
    font-size: 9rem;
    text-align: center;
    color: #777; }
  .error p {
    text-align: center;
    font-size: 3rem; }

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #777;
  height: 84vh; }
  .main--work {
    background-image: linear-gradient(#e8a87c, #e27d60); }
  .main--break {
    background-image: linear-gradient(#b7ddfc, #41b3a3); }
  .main--longbreak {
    background-image: linear-gradient(#b7ddfc, #c38d9e); }

.statcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 3rem;
  font-family: "Notable", sans-serif; }
  .statcontainer__text {
    color: "#f8f8ff"; }

.boxcontainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeate(8, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  border: 3px solid black;
  color: white;
  font-size: 5vh;
  animation: fadeIn 1s; }

.box {
  height: 7.5vh;
  width: 7.5vw;
  border: 1px solid black;
  color: black;
  background-color: #643e4693; }

.box--default {
  transition: opacity 0.5s; }
  .box--default:hover {
    opacity: 0; }

.box--spin {
  transition: transform 0.5s; }
  .box--spin:hover {
    transform: rotate(360deg); }

.box--circle:hover {
  animation: circle 1s; }

.tooltip {
  color: #fff;
  position: relative; }
  .tooltip::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: #f3b8c1;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 0.75em;
    left: 0;
    transform: scale(0);
    transition: transform ease-out 150ms; }
  .tooltip:hover::after {
    transform: scale(1); }

.loginmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Notable", sans-serif;
  height: 84vh;
  background-image: linear-gradient(#b7ddfc, #73a6cf);
  height: 84vh; }
  .loginmain--signup {
    background-image: linear-gradient(#dfcfbf, #d8ba9b); }

@media screen and (max-height: 600px) {
  .statcontainer__text {
    font-size: 5vh; } }

@media screen and (max-height: 270px) {
  .statcontainer__text {
    font-size: 7vh; } }

@media screen and (max-width: 320px) {
  .statcontainer__text {
    font-size: 6vw; } }

.header {
  display: flex;
  justify-content: space-around;
  height: 16vh;
  align-items: center;
  animation: fadeInLight 1s; }
  .header--work {
    background-color: #e27d60; }
  .header--break {
    background-color: #41b3a3; }
  .header--longbreak {
    background-color: #643e4693; }
  .header--customize {
    background-color: #9fc460; }
  .header--login {
    background-color: #73a6cf; }
  .header--signup {
    background-color: #d8ba9b; }
  .header--error {
    background-color: #777; }
  .header__title {
    font-family: "Notable", sans-serif;
    letter-spacing: 0.6rem;
    position: relative;
    align-items: center;
    font-weight: 900;
    color: white;
    font-size: 3.3rem; }
  .header__logo {
    position: absolute;
    top: 33%;
    right: 13.5%;
    margin-left: 1rem;
    color: white;
    cursor: pointer; }
  .header__toggle {
    display: none; }
  .header__navlinks {
    top: 16vh;
    color: white;
    font-size: 2.5rem;
    list-style: none; }
    .header__navlinks--active {
      color: white;
      font-size: 2.5rem;
      list-style: none; }
    .header__navlinks--link {
      font-family: "Notable", sans-serif;
      letter-spacing: 0.5rem;
      padding: 1rem;
      margin: 1rem;
      display: inline-block;
      color: white;
      text-decoration: none;
      font-size: 2.5rem;
      font-weight: 700;
      border-radius: 10px; }
      .header__navlinks--link--chosen {
        background-color: #c09ba3; }
      .header__navlinks--link--signup {
        font-family: "Notable", sans-serif;
        letter-spacing: 0.5rem;
        margin: 1rem;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px; }
        .header__navlinks--link--signup:hover {
          transition: all 0.3s ease-out; }
      .header__navlinks--link:hover {
        background-color: #643e4693;
        transition: all 0.3s ease-out; }
      .header__navlinks--link--signup {
        display: inline-block;
        background-color: #643e4693;
        padding: 1rem;
        font-weight: 900;
        font-size: 2.5rem;
        border-radius: 10px; }
        .header__navlinks--link--signup:hover {
          background-color: #643e46ff;
          transition: all 0.2s; }

@media screen and (max-width: 600px) {
  .header {
    justify-content: center; }
  .header__title {
    display: none; } }

@media screen and (max-width: 1050px) {
  .header {
    position: relative; }
  .header__navlinks--link {
    padding: 3vh;
    margin: 0 0 0.5rem 0;
    text-align: center; }
  .header__navlinks--link--signup {
    padding: 3vh;
    margin: 0px;
    text-align: center; }
  .header__toggle {
    display: inline-block;
    color: white;
    cursor: pointer; }
  .header__navlinks {
    display: flex;
    flex-direction: column;
    background-color: #f3b8c1;
    width: 100%;
    position: absolute;
    top: 16vh;
    left: 0;
    opacity: 1;
    z-index: 100;
    transition: all 0.5s ease; }
  .header__navlinks--hidden {
    display: flex;
    flex-direction: column;
    background-color: #f3b8c1;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 5.1rem;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease; } }

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 84vh;
  animation: fadeIn 1s;
  background-color: #b7ddfc;
  font-family: "Notable", sans-serif;
  letter-spacing: 0.5rem; }
  .login body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .login h1 {
    font-weight: bold;
    margin: 0; }
  .login p {
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2rem;
    margin: 1rem 0 2rem; }
  .login a {
    color: #c38d9e;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    text-decoration: none;
    margin: 1rem 0; }
  .login button {
    border-radius: 2rem;
    font-family: "Notable", sans-serif;
    letter-spacing: 0.3rem;
    background-color: #5e5eee;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: transform 100ms ease-in; }
    .login button.switchbtn {
      display: none;
      border-radius: 0px; }
  .login button:active {
    transform: scale(0.95); }
  .login button:focus {
    outline: none; }
  .login button.ghost {
    background-color: transparent;
    border-color: #fff; }
  .login form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center; }
  .login input {
    background-color: #eee;
    border: none;
    padding: 1rem 1.5rem;
    margin: 0.8rem 0;
    width: 100%; }
  .login .container {
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 10px 14px 28px #347fbd;
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 60%; }
  .login .form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out; }
  .login .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2; }
  .login .container.right-panel-active .sign-in-container {
    transform: translateX(100%); }
  .login .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1; }
  .login .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s; }
  .login .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 5; }
  .login .container.right-panel-active .overlay-container {
    transform: translateX(-100%); }
  .login .hidden {
    opacity: 0; }
  .login .show {
    opacity: 1; }
  .login .overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #90bce0, #73a6cf);
    background: linear-gradient(to right, #90bce0, #347fbd);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out; }
  .login .container.right-panel-active .overlay {
    transform: translateX(50%); }
  .login .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out; }
  .login .overlay-left {
    transform: translateX(-20%); }
  .login .container.right-panel-active .overlay-left {
    transform: translateX(0); }
  .login .overlay-right {
    right: 0;
    transform: translateX(0); }
  .login .container.right-panel-active .overlay-right {
    transform: translateX(20%); }

@media screen and (max-width: 830px) {
  .login .container {
    width: 90%;
    height: 90%; }
  .login .sign-in-container {
    left: 0;
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
    transition: all .5s linear; }
  .login .sign-up-container {
    transform: translateX(-100%);
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all .5s linear; }
  .login .container.right-panel-active .sign-in-container {
    opacity: 0;
    transform: translateX(-100%); }
  .login .container.right-panel-active .sign-up-container {
    transform: translateX(0%);
    opacity: 1;
    z-index: 5;
    animation: none; }
  .login button.switchbtn {
    display: inline-block; }
  .login .overlay-container {
    display: none; }
  .login .form-container {
    width: 100%; } }

@media screen and (max-width: 450px) {
  .login a {
    font-size: 1rem; }
  .login button {
    padding: 0.5rem 2rem; }
    .login button.switchbtn {
      height: 15%; }
  .login .container {
    width: 90%;
    height: 90%; }
  .login input {
    margin: 0.2rem 0; } }

@media screen and (max-height: 330px) {
  .login .container {
    width: 97%;
    height: 90%; }
  .login h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .login input {
    padding: 0.5rem 1rem;
    margin: 2px 0; }
  .login a {
    display: none; }
  .login p {
    display: none; }
  .login button {
    padding: 0.5rem 2rem; }
    .login button.switchbtn {
      display: none; }
  .login .form-container {
    width: 50%; }
  .login .overlay-container {
    display: block; } }

.customizecontainer {
  display: flex;
  font-family: "Notable", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s;
  background-image: linear-gradient(#c1d1a6, #9fc460);
  height: 84vh;
  min-width: 60vw;
  letter-spacing: .2rem; }
  .customizecontainer ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */ }
  .customizecontainer button {
    font-family: "Notable", sans-serif;
    letter-spacing: 0.3rem;
    background-color: #9fc460;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: transform 100ms ease-in;
    width: 100%;
    margin: 1rem 0;
    transition: .2s all; }
    .customizecontainer button:hover {
      transform: translateY(-0.2rem); }
    .customizecontainer button:active {
      transform: translateY(-1px); }
  .customizecontainer input {
    width: 100%; }
  .customizecontainer h1 {
    margin: 2rem;
    text-align: center; }
  .customizecontainer label {
    font-size: 1.3rem;
    margin: .5rem; }
  .customizecontainer .slider {
    border-radius: 0px;
    width: 100%;
    opacity: .7;
    transition: opacity .2s; }
  .customizecontainer .slider:hover {
    opacity: 1; }
  .customizecontainer__timeform {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%; }
    .customizecontainer__timeform--time {
      display: flex;
      flex-direction: column;
      width: 20%; }
  .customizecontainer__forms {
    overflow: scroll;
    overflow-x: hidden; }
  .customizecontainer__form-container {
    display: flex;
    flex-direction: column; }

@media screen and (max-width: 500px) {
  .customizecontainer label {
    font-size: 1rem; } }

.timerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  animation: fadeIn 1s;
  min-height: 50vh;
  min-width: 45vw; }
  .timerbox--break {
    background-color: #41b3a3;
    text-shadow: 0.8rem 0.8rem 0 #c38d9e; }
  .timerbox--work {
    background-color: #e27d60;
    text-shadow: 0.8rem 0.8rem 0 #777; }
  .timerbox--longbreak {
    background-color: rgba(195, 141, 158, 0.8);
    text-shadow: 0.8rem 0.8rem 0 #41b3a3; }
  .timerbox__label {
    font-family: "Notable", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 7vh;
    font-weight: 700;
    color: white;
    text-shadow: none; }
  .timerbox__time {
    font-size: 35vh;
    font-weight: 900;
    color: #f8f8ff; }
  .timerbox__emphasized {
    color: #643e4693;
    font-size: 7vh;
    font-weight: 800; }

@media screen and (max-width: 690px) {
  .timerbox {
    padding: 20px; }
    .timerbox--break {
      text-shadow: 0.3em 0.3em 0 #c38d9e; }
    .timerbox--work {
      text-shadow: 0.3em 0.3em 0 #777; }
    .timerbox--longbreak {
      text-shadow: 0.3em 0.3em 0 #41b3a3; }
    .timerbox__time {
      font-size: 30vw;
      font-weight: 900;
      color: white; }
    .timerbox__label {
      font-size: 5vw; } }

@media screen and (max-height: 300px) {
  .timerbox {
    height: 76vh;
    padding: 20px; }
    .timerbox--break {
      text-shadow: 0.5rem 0.5rem 0 #c38d9e; }
    .timerbox--work {
      text-shadow: 0.5rem 0.5rem 0 #777; }
    .timerbox--longbreak {
      text-shadow: 0.5rem 0.5rem 0 #41b3a3; }
    .timerbox__label {
      font-size: 10vh; }
    .timerbox__time {
      font-size: 30vh;
      font-weight: 900;
      color: white; } }
