.startbtn {
  background-color: $color-white;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-transform: capitalize;
  border-radius: 3rem;
  border: 4px solid $color-grey-dark;
  transition: all 0.2s;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: $color-purple;
  width: 19rem;

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0rem 1.5rem 2rem rgba($color-grey-dark, 0.377);

    &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.5rem 2rem rgba($color-grey-dark, 0.377);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 10rem;
    z-index: -1;
    transition: 0.4s;
  }
  }
}

.arrowbutton {
  color: $color-white;
  transition: all .2s;
  flex-grow: 1.5;
  &:hover {
    transform: translateY(-.4rem);
  }
  &:active {
    transform: translateY(-0.1rem);
  }
}

@media screen and (max-width: 690px) {
  .btn {
    font-size: 7vw;
    padding: 3vw 5vw;
  }
}
@media screen and (max-height: 690px) {
  .btn {
    font-size: 7vh;
    padding: 4vh 6vh;
  }
}