$color-white: #fff;
$color-offwhite: #eee;
$color-black: #000;
$color-grey-dark: #777;
$color-dark-orange: #e27d60;
$color-orange: #e8a87c;
$color-purple: #c38d9e;
$color-dark-purple: #643e4693;
$color-light-pink: 	#f3b8c1;
$color-dark-pink: #ee7688;
$color-light-black: #643e46ff;
$color-light-grey: rgb(192, 155, 163);
$color-dark-turqoise: #41b3a3;
$color-blue: rgb(115, 166, 207);
$color-dark-blue: rgb(52, 127, 189);
$color-medium-blue: rgb(144, 188, 224);
$color-light-blue: rgb(183, 221, 252);
$color-green: rgb(159, 196, 96);
$color-tan: #d8ba9b;
$color-light-tan: #dfcfbf;

