$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-dark-orange: #e27d60;
$color-light-blue: #85dcba;
$color-orange: #e8a87c;
$color-purple: #c38d9e;
$color-dark-purple: #643e4693;
$color-light-pink: 	#f3b8c1;
$color-dark-pink: #ee7688;
$color-light-black: #643e46ff;
$color-light-grey: rgb(192, 155, 163);
$color-dark-turqoise: #41b3a3;
$color-blue: #8bbee8ff;
